
/.DS_Store
.smtcmp_vector_db.tar.gz
/.smtcmp_vector_db.tar.gz
/.obsidian/plugins/readwise-official
/.obsidian/plugins/recent-files-obsidian
/.obsidian/plugins/recent-files-obsidian
/.obsidian/community-plugins.json
/.obsidian/workspace.json
/.obsidian/plugins/obsidian-git
/.obsidian/workspace.json
.obsidian

/.obsidian

/.obsidian.bak
/.smtcmp_json_db